<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ic_week_course_bg_3baedd</string>
	<string>ic_week_course_bg_6f92e2</string>
	<string>ic_week_course_bg_9d86d0</string>
	<string>ic_week_course_bg_53ae91</string>
	<string>ic_week_course_bg_92c03c</string>
	<string>ic_week_course_bg_bohelv</string>
	<string>ic_week_course_bg_cheng</string>
	<string>ic_week_course_bg_cyan</string>
	<string>ic_week_course_bg_e3759c</string>
	<string>ic_week_course_bg_ededed</string>
	<string>ic_week_course_bg_f9b844</string>
	<string>ic_week_course_bg_f38181</string>
	<string>ic_week_course_bg_kafei</string>
	<string>ic_week_course_bg_molan</string>
	<string>ic_week_course_bg_pressed</string>
	<string>ic_week_course_bg_tuhuang</string>
</array>
</plist>
